body {
  margin: 0;
  background-color: antiquewhite;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 50px;
  padding: 70px;
}
.content{

  margin: 10px;
  padding: 0px;
  border-style: solid;
  background-color: aliceblue;
}
.content-item{
  display: inline-block;
  padding: 20px;
}
.search-form{
  margin: auto;
  background-color: grey;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
}
.input-field{
    width: 60%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-button{
  width: 10%;
  padding: 12px 20px;
  background-color: rgb(202, 174, 174);
  border: 1px solid rgb(78, 62, 62);
}

.detail-button{
  width: 100%;
}

.ShowDetail {
  background-color: rgb(180, 121, 43);
  margin-top: 200px;
  margin-left: 30em;  
  padding-top: 10px;
  width: 40%;
  height: 400px;
  display: block;
}

.ShowDetail-child {
  text-align: center;
}

.p1 {
  font-weight: bold;
}